*{
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    background-color: aliceblue
}

.wrapper{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    text-align: center;
}
.wrapper h1{
    margin-bottom: 10px;
    padding: 10px 0;
}
.image img{
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    max-width: 350px;
}
.image img:hover{
    transform: scale(1.03);
}
.input_wrapper input{
    padding: 10px;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 9px;
    outline: none;
    margin: 5px 0;
    
}
.input_wrapper input:focus{
    border-color: rgb(84, 88, 92);
}
.btn{
    padding: 10px 20px;
    border: none;
    background-color: rgb(121, 127, 133);
    color: #fff;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(48, 58, 68);
}